<h1>Ingredients#index</h1>
<p>Find me in app/views/ingredients/index.html.erb</p>

<canvas id="myChart" style="position: relative; height:50; width:50"></canvas>
<script>
function drawBackground(target) {
  // 範囲を設定
  var xscale = target.scales["x-axis-0"];
  var yscale = target.scales["y-axis-0"];
  var left = xscale.getPixelForValue(55);  // 塗りつぶしを開始するラベル位置
  var right = xscale.getPixelForValue(65); // 塗りつぶしを終了するラベル位置
  var top = yscale.top;                      // 塗りつぶしの基点（上端）
  
  // 塗りつぶす長方形の設定
  ctx.fillStyle = "rgba(0,255,0,0.3)";
  ctx.fillRect(left, top, right - left, yscale.height);
}
var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
  type: 'horizontalBar',
  data: {
    labels: ["<%= @hogehoge %>", "Mathematics", "English", "Social studies", "Science","hoge","hoge","hoge","hoge"],
    datasets: [{
      label: '記録',
      backgroundColor: "rgba(0,0,80,0.4)",
      borderColor: "rgba(0,0,80,1)",
      data: [80, 90, 60, 70, 100, 20, ]
    }, {
      label: '基準値',
      backgroundColor: "rgba(0,255,0,0.4)",
      borderColor: "rgba(0,255,0,1)",
      data: [50, 50, 50, 50, 50, 50, 50, 50, 50]
    }]
  },
  plugins: [{
      beforeDraw: drawBackground // ★
  }],
});
</script>
  <div class="container">
    <p>hogehoge</p>

    <div class="canvas-wrapper">
      <canvas id="chart"></canvas>
    </div>
  </div>
<script>
function drawBackground(target) {
  // 範囲を設定
  var xscale = target.scales["x-axis-0"];
  var yscale = target.scales["y-axis-0"];
  var left = xscale.getPixelForValue(55);  // 塗りつぶしを開始するラベル位置
  var right = xscale.getPixelForValue(65); // 塗りつぶしを終了するラベル位置
  var top = yscale.top;                      // 塗りつぶしの基点（上端）
  
  // 塗りつぶす長方形の設定
  ctx2.fillStyle = "rgba(0,255,0,0.3)";
  ctx2.fillRect(left, top, right - left, yscale.height);
}

// グラフ描画
var ctx2 = document.getElementById('chart').getContext('2d');
var chart = new Chart(ctx2, {
  type: 'horizontalBar',
  data: {
    labels: ["<%= @hogehoge %>","鉄","",""],
    datasets: [{
      data: [<%=@hogenum %>, 0, 30, 92],
    }],
  },
  options: {
    animation: false,
  },
  plugins: [{
      beforeDraw: drawBackground // ★
  }],
});
</script>